/* 全画面共通 */
body {
	background: #f1f4f5;
	margin: 0px;
	width: 100%;
	min-width: 1000px;
}

select {
	width: 80px
}

a {
	text-decoration: none;
}

hr {
	margin: 0px;
}

.contents_area {
	overflow: auto; /* スクロールする範囲を制御 */
	margin: 0 auto;
	padding: 60px;
}

.web-header {
	margin: 0px;
	width: 100%;
	padding: 10px;
	position: fixed;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
	background: linear-gradient(to right, #132238, #274876, #99bdfc);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
	z-index: 888;
	display: flex;
	flex: 0 0 auto;
	justify-content: flex-end;
	align-items: center;
	min-width: 850px;
}

.menu_area {
	position: fixed;
	top: 52px;
	z-index: 999;
	width: 100%;
	margin: 0;
	padding: 0;
	background: rgba(30, 30, 30, 1);
	right: 0;
	left: auto;
	z-index: 777;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}

.error {
	font-size: 12px;
	color: #ff0000;
}

.error-big {
	color: #ff0000;
}

.caution {
	font-size: 12px;
}

.search-bar {
	margin-bottom: 1.5em;
	text-align: left;
	position: fixed;
	width: 100%;
	top: 52px;
	background: #ececf2;
	z-index: 666;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}

@media ( min-width :800px) {
	.menu_area {
		width: 400px;
		right: 0;
		left: auto;
	}
}

.menu_area  ul {
	list-style: none;
	list-style-type: none;
	list-style-position: initial;
	list-style-image: initial;
	margin: 0;
	padding: 0;
}

.menu_area li {
	margin: 0;
	padding: 0;
	display: block;
	border-bottom: 1px dotted #555;
}

.menu_area a {
	padding: 0 15px;
	line-height: 50px;
	display: block;
	color: #bbb;
}

.header p {
	margin: 0px;
}

.main_area {
	margin: 0.5em 3em;
	margin-left: auto;
	margin-right: auto;
	table padding-bottom: 20px;
	background: #ffffff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
	text-align: center;
	margin-right: auto;
	background: #ffffff;
}

.main_area-s {
	margin: 0.5em 7em;
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
	background: #ffffff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
	margin-right: auto;
	align-items: center;
}

.title {
	width: 100%;
	color: #464646;
	font-weight: bold;
	text-align: center;
	border-bottom: solid 2px #e3e3e3;
	font-weight: bold;
	font-family: "Meiryo";
}

table {
	border-collapse: collapse;
	userRegist margin-left: auto;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}

table td {
	border: solid 1px black;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	text-align: left;
}

table th {
	border: solid 1px black;
}

.icon-header:before {
	content: url(../images/header_test.png);
	margin: 0 auto;
}

.icon-user_add:before {
	content: '';
	width: 25px; /*画像の幅*/
	height: 25px; /*画像の高さ*/
	display: inline-block; /*忘れずに！*/
	background-image: url(../images/user_add.png);
	background-size: contain;
	vertical-align: middle;
}

.icon-contribution:before {
	content: '';
	width: 22px; /*画像の幅*/
	height: 22px; /*画像の高さ*/
	display: inline-block; /*忘れずに！*/
	background-image: url(../images/contribution.png);
	background-size: contain;
	vertical-align: middle;
	margin-right: 20px;
}

.icon-search:before {
	content: '';
	width: 22px; /*画像の幅*/
	height: 22px; /*画像の高さ*/
	display: inline-block; /*忘れずに！*/
	background-image: url(../images/search.png);
	background-size: contain;
	vertical-align: middle;
	margin-right: 20px;
}

.icon-sort:before {
	content: '';
	width: 15px; /*画像の幅*/
	height: 15px; /*画像の高さ*/
	display: inline-block; /*忘れずに！*/
	background-image: url(../images/sort.png);
	background-size: contain;
	vertical-align: middle;
	margin-right: 5px;
}

.icon-error:before {
	content: '';
	width: 17px; /*画像の幅*/
	height: 17px; /*画像の高さ*/
	display: inline-block; /*忘れずに！*/
	background-image: url(../images/error.png);
	background-size: contain;
	vertical-align: middle;
	margin-right: 5px;
}

.icon-menu:before {
	content: url(../images/menu.png);
	margin-top: auto;
	margin-right: 30px;
}

.icon-lock:before {
	display: inline-block;
	width: 16px;
	height: 16px;
	display: flex;
	content: url(../images/lock.png);
	margin-right: auto;
}

.send-btn {
	vertical-align: top;
	font-weight: bold;
	height: 28px;
	text-align: center;
	display: inline-block;
	padding: 0.1em 0.75em;
	text-decoration: none;
	color: #ffffff;
	background: #0b7eff; /*色*/
	border: solid 1px #3e3e3e; /*線色*/
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.delete-btn {
	height: 27px;
	font-weight: bold;
	display: inline-block;
	padding: 0.2em 0.75em;
	text-decoration: none;
	color: #ffffff;
	background: #717171; /*色*/
	border: solid 1px #3e3e3e; /*線色*/
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
	font-weight: bold;
}

.normal-btn {
	height: 27px;
	font-weight: bold;
	display: inline-block;
	padding: 0.2em 0.75em;
	text-decoration: none;
	color: #3e3e3e;
	background: #eaeaea; /*色*/
	border: solid 1px #3e3e3e; /*線色*/
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.search-btn {
	height: 27px;
	font-weight: bold;
	display: inline-block;
	padding: 0.2em 0.75em;
	text-decoration: none;
	color: #ffffff;
	background: #0b7eff; /*色*/
	border: solid 1px #3e3e3e; /*線色*/
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.stop-btn {
	height: 27px;
	font-weight: bold;
	display: inline-block;
	padding: 0.2em 0.75em;
	text-decoration: none;
	color: #ffffff;
	background: #f11414; /*色*/
	border: solid 1px #3e3e3e; /*線色*/
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.stop-btn-disable {
	font-weight: bold;
	display: inline-block;
	padding: 0.2em 0.75em;
	text-decoration: none;
	color: #a1a1a1;
	background: #830707; /*色*/
	border: solid 1px #3e3e3e; /*線色*/
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.reopen-btn {
	font-weight: bold;
	display: inline-block;
	padding: 0.2em 0.75em;
	text-decoration: none;
	color: #ffffff;
	background: #0fe1d7; /*色*/
	border: solid 1px #3e3e3e; /*線色*/
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.reopen-btn-disable {
	font-weight: bold;
	display: inline-block;
	padding: 0.2em 0.75em;
	text-decoration: none;
	color: #c1c1c1;
	background: #0ba69e; /*色*/
	border: solid 1px #3e3e3e; /*線色*/
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.soft-gloss {
	background-image: -webkit-linear-gradient(transparent 0%, rgba(255, 255, 255, .3)
		50%, transparent 50%, rgba(0, 0, 0, .1) 100%);
	background-image: linear-gradient(transparent 0%, rgba(255, 255, 255, .3)
		50%, transparent 50%, rgba(0, 0, 0, .1) 100%);
	box-shadow: 0 2px 2px 0 rgba(255, 255, 255, .2) inset, 0 2px 10px 0
		rgba(255, 255, 255, .5) inset, 0 -2px 2px 0 rgba(0, 0, 0, .1) inset;
	border: 1px solid rgba(0, 0, 0, .2);
}

.required {
	color: #ffffff;
	background-color: #ff0000;
	font-size: 12px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
	padding-left: 2px;
	padding-right: 2px;
	vertical-align: middle;
}

.input-element {
	align-items: center;
	display: flex;
	margin-top: 5px;
}

.field-color {
	color: #000000;
	background: #f0f0f0;
	width: 200px;
}

.copyright {
	width: 250px;
	margin: 0 auto;
}

/* ホーム画面 */
.search-element {
	margin: 10px;
}

.search-bar a {
	color: #4c4c4c;
}

.date {
	width: 100px;
}

.post-area {
	margin: 30px 3em;
	background: #ffffff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}

.post-info {
	width: 100%;
	display: table;
}

.post-contributor {
	display: table-cell;
	text-align: left;
	padding-left: 20px;
}

.post-category {
	display: table-cell;
	text-align: right;
	padding-right: 20px;
}

.post-date {
	text-align: right;
	padding-right: 20px;
	font-size: 15px;
	color: #58596d;
}

.post-comment {
	text-align: right;
	padding-right: 10px;
}

.post-title {
	font-size: 1.2em;
	background: #274876;
	padding: 4px;
	text-align: left;
	padding-left: 10px;
	color: #FFF;
	font-weight: bold;
	letter-spacing: 0.05em;
	border-left: solid 10px #659FF0; /*左線*/
}

.post-delete {
	text-align: right;
	margin-top: 5px;
	margin-right: 10px;
}

.post-area p {
	padding: 15px 20px;
	margin: 0;
}

.comment-area {
	color: #2c2c2f;
	background: #f1f1f1; /*背景色*/
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}

.comment-title {
	background: #A7ADB1;
	padding: 4px;
	padding-left: 10px;
	text-align: left;
	color: #FFF;
	font-weight: bold;
	letter-spacing: 0.05em;
	color: #FFF;
}

.comment-area p {
	padding: 0;
}

.comment {
	padding: 10px 10px;
}

.comment-text {
	margin: 10px;
}

.comment-date {
	text-align: right;
	font-size: 15px;
	color: #58596d;
}

.comment-delete {
	text-align: right;
}

.comment hr {
	margin: 0;
}

.comment-form {
	width: 90%;
	position: relative;
}

.comment-box {
	width: 90%;
	resize: vertical;
	min-height: 50px;
	max-height: 200px;
}

.comment-button {
	position: absolute;
	margin-left: 10px;
	bottom: 0;
}

/* 入力フォーム全般 */
.input-line {
	width: 500px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
}

.inline {
	display: inline-block;
}

/* 新規投稿 */
.post-from {
	width: 550px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.post-input-line {
	width: 550px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
}

.post-input-area {
	margin-top: 20px;
	width: 550px;
}

.textbox {
	width: 99%;
	resize: vertical;
	min-height: 50px;
	max-height: 200px;
}

/* ユーザー管理 */
.userRegist {
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: right;
	font-size: 14px;
	font-weight: bold;
}

.userRegist a {
	color: #5e6571;
}

.userSearch {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 14px;
	width: 95%;
}

.table-center {
	width: 100px;
	text-align: center;
}

.userSearchWord {
	width: 150px;
}

.sort {
	margin-left: auto;
}

/* 新規投稿 */
.subject-text {
	width: 250px;
}

/* ログイン */
.main_area-login {
	margin: 0.5em 7em;
	width: 400px;
	height: 280px;
	margin-left: auto;
	margin-right: auto;
	background: #ffffff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}

.login-area {
	width: 250px;
	height: 100px;
	margin: auto;
	padding-top: 20px;
}

.login-text {
	width: 250px;
	background: #fffbb0;
}

.login-line {
	margin-bottom: 10px;
}

.login-botton {
	margin-top: 20px;
	text-align: right;
}